@model CoreLearn.Models.ViewResultProduct
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div class="text-left">
    <p>Proudct ID : @Model.Id</p>
    <p>Proudct Name : @Model.Name</p>
</div>