@model CoreActionResult.Models.LoginViewModel

<h4>LoginViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control"id="UserName" placeholder="Enter Your username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="Password" placeholder="Enter your Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.RememberMe, new {@class="form-check-input"})
                <label class="form-check-label" for="RememberMe">Remember me</label>
                @* <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label> *@
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
                @* <input type="submit" value="Create" class="btn btn-primary" /> *@
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

