
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Invalid Request!</h4>
    <p>Sorry, the request you submitted is invalid. Please check your input and try again.</p>
    <!-- Optionally, you can include additional details about the invalid request -->
</div>
