<app-student-count
  [all]="totalCount"
  [male]="maleCount"
  [female]="femaleCount"
  [selected]="selectedFilter"
  (selectionChanged)="onFilterChanged($event)"
></app-student-count>

<br /><br />

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>DOB</th>
      <th>Course Fee</th>
    </tr>
  </thead>

  <tbody>
    @if (filteredStudents.length > 0) {
      @for (student of filteredStudents; track trackById($index, student)) {
        <tr>
          <td>{{ student.ID }}</td>
          <td>{{ student.FisrtName }} {{ student.LastName }}</td>
          <td>{{ student.Gender }}</td>
          <td>{{ formatDob(student.DOB) }}</td>
          <td>{{ student.CourseFee }} </td>
        </tr>
      }
    } @else {
      <tr>
        <td colspan="5">No Students to display</td>
      </tr>
    }
  </tbody>
</table>