@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <h1>View Component</h1>
    @await Component.InvokeAsync("TopProducts", new {count = 3});
</div>
<div class="text-center">
    <vc:top-products count="3"></vc:top-products>
</div>
