@{
    ViewBag.Title = "Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Details Page</h1>
    <h1>@ViewData["Header"]</h1>
    @{
        var student = ViewData["Student"] as CoreLearn.Models.Student;

    }
    <div>
        StudentId : @student?.StudentId;
    </div>
    <div>
        Name : @student?.Name;
    </div>
    <div>
        Branch : @student?.Branch;
    </div>
    <div>
        Section : @student?.Section;
    </div>
    <div>
        Gender : @student?.Gender;
    </div>
</body>
</html>